:host {
  display: flex;
  gap: 0.5rem;
}

a {
  padding: 0.3em 1em;
  border-radius: 4px;
  background: rgb(0 0 0 / 10%);
}

a[href*="red"] {
  background: red;
  color: white;
}

a[href*="green"] {
  background: green;
  color: white;
}

a[href*="blue"] {
  background: blue;
  color: white;
}
